body {
    width: 100%;
}
.img_Product {
    width: 423px;
    height: auto;
    margin-left: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
    padding: 50px 0px 50px 0px;
    background-color: #f9f1e7;
    object-fit: contain;
    max-height: 550px;
}
.detailsproduct_Details {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.cart_Product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.nameproduct_Details {
    font-size: 42px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000000;
}
.priceproduct_Details {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: #9f9f9f;
}
.descriptionproduct_Details {
    font-size: 13px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
    width: 70%;
}
.addtocart_Details {
    width: 215px;
    height: 64px;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 15px;
}
.addtocart_Details:hover {
    background-color: #b88e2f;
    color: #ffffff;
    cursor: pointer;
    border-color: #ffffff;
}
.addtocart_Details:active {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
    transform: translateY(2px);
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.qty {
    margin-right: 20px;
    border-radius: 15px;
}
@media (max-width: 480px) {
    .descriptionproduct_Details {
        font-size: 11px;
        line-height: 23px;
        width: 90%;
    }
    .nameproduct_Details {
        font-size: 32px;
    }
    .priceproduct_Details {
        font-size: 20px;
    }

    .detailsproduct_Details {
        margin-left: 0%;
        align-items: center;
    }
    .buttons {
        max-width: 90%;
        margin-bottom: 20px;
    }
    .cart_Product {
        max-width: 95%;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0px;
        padding-left: 0;
        margin-left: 0px;
    }
    .img_Product {
        width: 150px;
        margin-left: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    .addtocart_Details {
        width: 145px;
        height: 55px;
    }
    .qty {
        width: 145px;
        height: 55px;
    }
}
