.increase_Qty, .decrease_Qty {
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}
.qty{
    font-family: 'poppins', sans-serif;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    width: 123px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.increase_Qty:active, .decrease_Qty:active {
    transform: scale(1.5);
}
